#tablepress-1 {
	font-family: Libre Franklin, sans-serif;
}

#tablepress-1_filter label,
.dataTables_info {
	font-family: Libre Franklin, sans-serif;
	color: #384781;
}

#tablepress-1 th {
	background-color: #eef4ff;
	color: #012069;
}

#tablepress-1 td {
	color: #384781;
}

#tablepress-1 tr.odd td {
	background-color: #f9fbff;
}

#tablepress-1_filter input[type='search'] {
	border: 1px solid #ccc;
	padding-right: 5px;
	padding-left: 5px;
}